{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!--<p class="form-group">Bought!/Sold!/Welcome!/Registered!</p>-->
    <table class="table table-striped">
        <tr>
            <td>Symbol</td> <td>Shares</td> <td>Price</td> <td>Transacted</td>
        </tr>
        {% for history in histories %}
        <tr>
            <td>{{ history["symbol"] }}</td> <td>{{ history["shares"] }}</td> <td>{{ history["price"] }}</td> <td>{{ history["time"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}